<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5y31gdFfliJRz75jNz7d5BUtZ3VUwaGg</string>
	<key>GCM_SENDER_ID</key>
	<string>599410331991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AzzamFund.AzzamAi</string>
	<key>PROJECT_ID</key>
	<string>azzam-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>azzam-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599410331991:ios:bdabddc97e698cb13e2e12</string>
</dict>
</plist>